<div class="row mb-4">
  <div class="row mb-4">
    <h2 class="h2 border-left mx-3">
      {{ tituloPagina }}
    </h2>
  </div>
</div>
<div class="card text-center">
  <div class="card-body">
    <h3 class="card-title">Conquiste o sonho da casa própria</h3>
    <p aria-hidden="true" class="card-text">
      Em apenas alguns passos fique mais perto de segurar as chaves :)
    </p>
    <p class="sr-only" lang="en">
      Em apenas alguns passos fique mais perto de segurar as chaves emoji smile
    </p>
    <button
      routerLink="/dados-do-proponente"
      class="btn btn-primary"
      aria-label="Simular Financiamento"
    >
      SIMULAR FINANCIAMENTO
    </button>
  </div>
</div>

<div class="fundo-transparente">
  <img
    id="imagem-fundo"
    aria-hidden
    src="https://ik.imagekit.io/3mfjmziiqmi/logoSoVamu_KoYtwzFFS.png?ik-sdk-version=javascript-1.4.3&updatedAt=1643054562043"
  />
</div>
