<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div
    class="navbar-img"
    role="menubar"
    aria-label="Voltar para a tela inicial"
  >
    <a autoFocus="true" class="navbar-brand" routerLink="">
      <img
        src="https://ik.imagekit.io/3mfjmziiqmi/logoSoVamu_KoYtwzFFS.png?ik-sdk-version=javascript-1.4.3&updatedAt=1643054562043"
        alt="Só vamu"
        class="imgSoVamo"
      />
    </a>
  </div>
  <h1 class="titulo-principal p-2">Simulador de financiamentos</h1>
</nav>
