<div autoFocus class="row mb-1">
  <h2  class="h2 border-left mx-3">
    {{tituloPagina}}
  </h2>
</div>
<div class="resultado card text-center border-light mb-3">
  <p class="card-title fs-2">
    Proposta Nº 000001
  </p>
  <small aria-hidden="true" class="imagem-reprovado"><img src="https://ik.imagekit.io/3mfjmziiqmi/reprovado_aX5B4e-ZN.png?ik-sdk-version=javascript-1.4.3&updatedAt=1643054561687"></small>
  <p aria-hidden="true" class="card-text text-danger">STATUS: REPROVADO</p>
  <p class="sr-only">STATUS REPROVADO</p>
</div>

<div class="card text-center">
  <div class="card-body">
    <p class="card-text">Infelizmente não foi possível aprovar seu financimanento.</p>
    <p class="card-text">Não desanime, reunimos dicas que podem ajudar na sua próxima simulação</p>

    <ul class="list-group list-group-horizontal-xxl">
      <li class="lista mt-2">
        - Mantenha seu CPF em dia e sem restrições.
      </li>
      <li class="lista mt-2">
        - Dados de endereço, e-mail, telefone sempre atualizados.
      </li>
      <li class="lista mt-2">
        - Melhore seu relacionamento com o banco, movimentando sua conta.
      </li>
    </ul>

    <a routerLink={{rota}} class="btn btn-primary mt-2" aria-label="IR PARA TELA INICAL">
      IR PARA TELA INICAL
    </a>
  </div>
</div>
